.home {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Tables side by side */
.home__tables {
  display: flex;
  gap: 16px;
}

.home__tables .table-wrap {
  flex: 1;
}

@container content (max-width: 1024px) {
  .home__tables {
    flex-direction: column;
  }
}
